/* * 선택기는 다른 요소 내의 모든 요소를 ​​선택할 수도 있습니다 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header {
    background-color: yellow;
    text-align: center;
    padding: 30px;

}

.search {
    text-align: center;
    margin-top: 20px;
}

.search-input {
    margin-left: 20px;
    min-width: 200px;
    padding: 5px 10px;
}

.search-btn {
    margin-left: 10px;
    padding: 5px;
}

/*  */
.card-list{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center; */

    
}
.movie-card{
    width: 400px;
    margin: 20px;
    background-color: rgb(205, 255, 253);
    /* justify-content: center; */
    
    border: 1px solid black;
}



.movie-card img{
    width: 100%;
}

div{
    padding: 10px;
    justify-content:left;
}
